.tools {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	display: flex;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding-left: 5px;
	color: floralwhite;
	font-size: 1.1rem;
	font-weight: bold;
	border-radius: 5px;
	transition: all 0.2s ease;
}

.clearButton {
	background-color: #3091ba;
}

.clearButton:hover {
	background-color: #36a6d7;
}
