.todo {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.toolsWrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: inherit;
	padding: 5px;
	background-color: floralwhite;
	border-bottom: 1px solid #3091ba;
}

.textWrapper {
	padding: 20px;
	background-color: floralwhite;
}

.text {
	font-size: 1.3rem;
}

.textField {
	width: 100%;
	min-height: 200px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: normal;
	background-color: floralwhite;
	transition: all 0.15s ease;
	resize: vertical;
}
