html,
body {
	height: 100%;
}

html {
	min-width: 320px;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(33deg, #f78fad, #fdeb82) fixed;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.divider {
	width: 100%;
	height: 3px;
	background-color: floralwhite;
	margin-top: 50px;
}

.textTruncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
